In [119]:
import pandas as pd
#import geopy
import numpy as np
#import matplotlib.pyplot as plt
import datetime
from datetime import datetime
#import geopandas as gpd
#from shapely.geometry import Point
#import seaborn as sns

In [120]:
df = pd.read_csv('PY19annual_public_exiter.csv')

/var/folders/83/89yy6_vx7ds1g1hkvv0r0sv00000gn/T/ipykernel_4078/2186809533.py:1: DtypeWarning: Columns (2,33,34,35,36,37,38,42,43,45,46,47,48,49,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,68,69,70,71,73,76,77,79,84,85,342,344,345,350,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,372,373,374,377,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('PY19annual_public_exiter.csv')

In [121]:
df.head()

,ProgramYear,AgencyCode,ApplicationDate,Sex,AmerIndian,Asian,Black,Hawaiian,White,Hispanic,...,q4aeEmpStatus,q4aeEmpMatchType,q4aeWages,q4aeRetentionQ2AndQ4,appOtherSupport,age_app,age_IPE,age_startPreETS,age_startVRservice,age_exit
0,2019,1,20171206,2,0,0,1,0,0,0,...,,,,0,0,55,56,,56,57
1,2019,1,20190819,2,0,0,0,0,1,0,...,,,,0,0,49,49,,49,50
2,2019,1,20180522,1,0,0,1,0,0,0,...,,,,0,0,45,46,,46,46
3,2019,1,20200107,1,0,0,1,0,0,0,...,,,,,0,42,,,,42
4,2019,1,20170906,2,0,0,1,0,0,0,...,,,,0,0,40,42,,40,42

In [122]:
df.shape

(484640, 392)

In [123]:
df1 = df[['AgencyCode','ApplicationDate','Sex','AmerIndian','Asian','Black','Hawaiian','White','Hispanic','Veteran','Student'
         ,'appSSDI','appSSI','appMedicaid','appMedicare','Disability','PrimDisability','TWEStartDate','TWEEndDate'
         ,'IPEAmendedDate','ipeEmpStatus','ipeHourlyWage','ipeWeeklyHoursWorked','Adult','VocRehab','EmpOutcome','eoHourlyWage'
         ,'exitDate','exitType','exitReason','exitEmpOutcome']].copy()

In [124]:
df1.dtypes

AgencyCode               int64
ApplicationDate         object
Sex                      int64
AmerIndian               int64
Asian                    int64
Black                    int64
Hawaiian                 int64
White                    int64
Hispanic                 int64
Veteran                  int64
Student                  int64
appSSDI                  int64
appSSI                   int64
appMedicaid              int64
appMedicare              int64
Disability              object
PrimDisability          object
TWEStartDate            object
TWEEndDate              object
IPEAmendedDate          object
ipeEmpStatus            object
ipeHourlyWage           object
ipeWeeklyHoursWorked    object
Adult                   object
VocRehab                object
EmpOutcome              object
eoHourlyWage            object
exitDate                 int64
exitType                 int64
exitReason               int64
exitEmpOutcome          object
dtype: object

In [125]:
df1 = df1.dropna()

In [126]:
df1.shape

(484640, 31)

In [127]:
df1['Disability'].value_counts()

1    320220
      86760
1     70003
9      5506
0      1249
9       635
0       267
Name: Disability, dtype: int64

In [128]:
df1.drop(df1[df1['Disability']== ' '].index, inplace = True)

In [129]:
df1['Disability'] = df1['Disability'].astype(str).astype(int)

In [130]:
df1['Disability'].value_counts()

1    390223
9      6141
0      1516
Name: Disability, dtype: int64

In [131]:
df1.shape

(397880, 31)

In [132]:
df1['PrimDisability'].value_counts()

17    96984
18    92078
17    25800
19    25773
16    19448
18    16658
10    11912
15     9578
06     7152
6      7150
12     6970
13     6597
       6567
1      5402
6      5196
0      4342
2      4005
11     3793
16     3432
15     2936
3      2820
19     2697
02     2529
10     2338
12     2283
09     2096
03     1916
01     1689
9      1646
14     1640
2      1623
1      1492
13     1323
04     1275
3      1194
4       999
11      897
5       863
4       653
0       590
9       562
05      485
14      469
00      458
5       335
07      328
7       321
7       254
8       179
08      116
8        37
Name: PrimDisability, dtype: int64

In [133]:
df1.drop(df1[df1['PrimDisability']== ' '].index, inplace = True)

In [134]:
df1['PrimDisability'] = df1['PrimDisability'].astype(str).astype(int)

In [141]:
df1['PrimDisability'].value_counts()

17    122784
18    108736
19     28470
16     22880
6      19498
10     14250
15     12514
12      9253
1       8583
2       8157
13      7920
3       5930
0       5390
11      4690
9       4304
4       2927
14      2109
5       1683
7        903
8        332
Name: PrimDisability, dtype: int64

In [136]:
df1.shape

(391313, 31)

In [137]:
df1['Sex'].value_counts()

1    217472
2    170768
9      2092
0       981
Name: Sex, dtype: int64

In [138]:
df1['AmerIndian'].value_counts()

0    377217
1      9567
9      4529
Name: AmerIndian, dtype: int64

In [112]:
df1['Asian'].value_counts()

0    378780
1      8004
9      4529
Name: Asian, dtype: int64

In [113]:
df1['Black'].value_counts()

0    288669
1     98124
9      4520
Name: Black, dtype: int64

In [114]:
df1['Hawaiian'].value_counts()

0    384448
9      4555
1      2310
Name: Hawaiian, dtype: int64

In [115]:
df1['White'].value_counts()

1    278044
0    108819
9      4450
Name: White, dtype: int64

In [116]:
df1['Hispanic'].value_counts()

0    333367
1     52507
9      5439
Name: Hispanic, dtype: int64

In [117]:
df1['Veteran'].value_counts()

0    379991
1     11322
Name: Veteran, dtype: int64

In [118]:
df1['Student'].value_counts()

0    312882
2     57505
3     16443
1      4483
Name: Student, dtype: int64

In [147]:
df1['AgencyCode'].value_counts()

35     30127
48     26622
6      26194
42     20838
11     18719
       ...
65        96
78        95
38        59
90        51
106       51
Name: AgencyCode, Length: 77, dtype: int64

In [151]:
df1['AgencyCode'].value_counts()[16]

12461

In [ ]:
df1.to_csv('out.csv')