In [1]:
import pandas as pd
#import geopy
import numpy as np
#import matplotlib.pyplot as plt
import datetime
from datetime import datetime
#import geopandas as gpd
#from shapely.geometry import Point
#import seaborn as sns

In [9]:
df = pd.read_csv('../../PY19annual_public_exiter.csv')

/var/folders/83/89yy6_vx7ds1g1hkvv0r0sv00000gn/T/ipykernel_10308/375403411.py:1: DtypeWarning: Columns (2,33,34,35,36,37,38,42,43,45,46,47,48,49,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,68,69,70,71,73,76,77,79,84,85,342,344,345,350,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,372,373,374,377,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../PY19annual_public_exiter.csv')

In [10]:
df.head()

,ProgramYear,AgencyCode,ApplicationDate,Sex,AmerIndian,Asian,Black,Hawaiian,White,Hispanic,...,q4aeEmpStatus,q4aeEmpMatchType,q4aeWages,q4aeRetentionQ2AndQ4,appOtherSupport,age_app,age_IPE,age_startPreETS,age_startVRservice,age_exit
0,2019,1,20171206,2,0,0,1,0,0,0,...,,,,0,0,55,56,,56,57
1,2019,1,20190819,2,0,0,0,0,1,0,...,,,,0,0,49,49,,49,50
2,2019,1,20180522,1,0,0,1,0,0,0,...,,,,0,0,45,46,,46,46
3,2019,1,20200107,1,0,0,1,0,0,0,...,,,,,0,42,,,,42
4,2019,1,20170906,2,0,0,1,0,0,0,...,,,,0,0,40,42,,40,42

In [11]:
df.shape

(484640, 392)

In [50]:
df1 = df[['AgencyCode','ApplicationDate','Sex','AmerIndian','Asian','Black','Hawaiian','White','Hispanic','Veteran','Student'
         ,'appSSDI','appSSI','appMedicaid','appMedicare','Disability','PrimDisability','TWEStartDate','TWEEndDate'
         ,'IPEAmendedDate','ipeEmpStatus','ipeHourlyWage','ipeWeeklyHoursWorked','Adult','VocRehab','EmpOutcome','eoHourlyWage'
         ,'exitDate','exitType','exitReason','exitEmpOutcome']].copy()

In [51]:
df1.dtypes

AgencyCode               int64
ApplicationDate         object
Sex                      int64
AmerIndian               int64
Asian                    int64
Black                    int64
Hawaiian                 int64
White                    int64
Hispanic                 int64
Veteran                  int64
Student                  int64
appSSDI                  int64
appSSI                   int64
appMedicaid              int64
appMedicare              int64
Disability              object
PrimDisability          object
TWEStartDate            object
TWEEndDate              object
IPEAmendedDate          object
ipeEmpStatus            object
ipeHourlyWage           object
ipeWeeklyHoursWorked    object
Adult                   object
VocRehab                object
EmpOutcome              object
eoHourlyWage            object
exitDate                 int64
exitType                 int64
exitReason               int64
exitEmpOutcome          object
dtype: object

In [52]:
df1 = df1.dropna()

In [53]:
df1.shape

(484640, 31)

In [54]:
df1['Disability'].value_counts()

1    320220
      86760
1     70003
9      5506
0      1249
9       635
0       267
Name: Disability, dtype: int64

In [55]:
df1.drop(df1[df1['Disability']== ' '].index, inplace = True)

In [56]:
df1['Disability'] = df1['Disability'].astype(str).astype(int)

In [57]:
df1['Disability'].value_counts()

1    390223
9      6141
0      1516
Name: Disability, dtype: int64

In [58]:
df1.shape

(397880, 31)

In [59]:
df1['PrimDisability'].value_counts()

17    96984
18    92078
17    25800
19    25773
16    19448
18    16658
10    11912
15     9578
06     7152
6      7150
12     6970
13     6597
       6567
1      5402
6      5196
0      4342
2      4005
11     3793
16     3432
15     2936
3      2820
19     2697
02     2529
10     2338
12     2283
09     2096
03     1916
01     1689
9      1646
14     1640
2      1623
1      1492
13     1323
04     1275
3      1194
4       999
11      897
5       863
4       653
0       590
9       562
05      485
14      469
00      458
5       335
07      328
7       321
7       254
8       179
08      116
8        37
Name: PrimDisability, dtype: int64

In [60]:
df1.drop(df1[df1['PrimDisability']== ' '].index, inplace = True)

In [61]:
df1['PrimDisability'] = df1['PrimDisability'].astype(str).astype(int)

In [62]:
df1['PrimDisability'].value_counts()

17    122784
18    108736
19     28470
16     22880
6      19498
10     14250
15     12514
12      9253
1       8583
2       8157
13      7920
3       5930
0       5390
11      4690
9       4304
4       2927
14      2109
5       1683
7        903
8        332
Name: PrimDisability, dtype: int64

In [63]:
df1.shape

(391313, 31)

In [64]:
df1['Sex'].value_counts()

1    217472
2    170768
9      2092
0       981
Name: Sex, dtype: int64

In [65]:
df1['AmerIndian'].value_counts()

0    377217
1      9567
9      4529
Name: AmerIndian, dtype: int64

In [66]:
df1['Asian'].value_counts()

0    378780
1      8004
9      4529
Name: Asian, dtype: int64

In [67]:
df1['Black'].value_counts()

0    288669
1     98124
9      4520
Name: Black, dtype: int64

In [68]:
df1['Hawaiian'].value_counts()

0    384448
9      4555
1      2310
Name: Hawaiian, dtype: int64

In [69]:
df1['White'].value_counts()

1    278044
0    108819
9      4450
Name: White, dtype: int64

In [70]:
df1['Hispanic'].value_counts()

0    333367
1     52507
9      5439
Name: Hispanic, dtype: int64

In [71]:
df1['Veteran'].value_counts()

0    379991
1     11322
Name: Veteran, dtype: int64

In [72]:
df1['Student'].value_counts()

0    312882
2     57505
3     16443
1      4483
Name: Student, dtype: int64

In [73]:
df1['AgencyCode'].value_counts()

35     30127
48     26622
6      26194
42     20838
11     18719
       ...
65        96
78        95
38        59
90        51
106       51
Name: AgencyCode, Length: 77, dtype: int64

In [74]:
df1['AgencyCode'].value_counts()[16]

12461

In [80]:
df1['AgencyCode'].value_counts()[59]

KeyError: 59

In [81]:
df1.loc[df1["AgencyCode"] == 1, "AgencyCode"] = "Alabama"
df1.loc[df1["AgencyCode"] == 57, "AgencyCode"] = "Alabama"

df1.loc[df1["AgencyCode"] == 2, "AgencyCode"] = "Alaska"
df1.loc[df1["AgencyCode"] == 58, "AgencyCode"] = "Alaska"

df1.loc[df1["AgencyCode"] == 3, "AgencyCode"] = "American Samoa"
df1.loc[df1["AgencyCode"] == 59, "AgencyCode"] = "American Samoa"

df1.loc[df1["AgencyCode"] == 4, "AgencyCode"] = "Arizona"
df1.loc[df1["AgencyCode"] == 60, "AgencyCode"] = "Arizona"

df1.loc[df1["AgencyCode"] == 5, "AgencyCode"] = "Arkansas"
df1.loc[df1["AgencyCode"] == 61, "AgencyCode"] = "Arkansas"

df1.loc[df1["AgencyCode"] == 6, "AgencyCode"] = "California"
df1.loc[df1["AgencyCode"] == 62, "AgencyCode"] = "California"

df1.loc[df1["AgencyCode"] == 7, "AgencyCode"] = "Colorado"
df1.loc[df1["AgencyCode"] == 63, "AgencyCode"] = "Colorado"

df1.loc[df1["AgencyCode"] == 8, "AgencyCode"] = "Connecticut"
df1.loc[df1["AgencyCode"] == 64, "AgencyCode"] = "Connecticut"

df1.loc[df1["AgencyCode"] == 9, "AgencyCode"] = "Delaware"
df1.loc[df1["AgencyCode"] == 65, "AgencyCode"] = "Delaware"

df1.loc[df1["AgencyCode"] == 10, "AgencyCode"] = "District of Columbia"
df1.loc[df1["AgencyCode"] == 66, "AgencyCode"] = "District of Columbia"

df1.loc[df1["AgencyCode"] == 11, "AgencyCode"] = "Florida"
df1.loc[df1["AgencyCode"] == 67, "AgencyCode"] = "Florida"

df1.loc[df1["AgencyCode"] == 12, "AgencyCode"] = "Georgia"
df1.loc[df1["AgencyCode"] == 68, "AgencyCode"] = "Georgia"

df1.loc[df1["AgencyCode"] == 13, "AgencyCode"] = "Guam"
df1.loc[df1["AgencyCode"] == 69, "AgencyCode"] = "Guam"

df1.loc[df1["AgencyCode"] == 14, "AgencyCode"] = "Hawaii"
df1.loc[df1["AgencyCode"] == 70, "AgencyCode"] = "Hawaii"

df1.loc[df1["AgencyCode"] == 15, "AgencyCode"] = "Idaho"
df1.loc[df1["AgencyCode"] == 71, "AgencyCode"] = "Idaho"

df1.loc[df1["AgencyCode"] == 16, "AgencyCode"] = "Illinois"
df1.loc[df1["AgencyCode"] == 72, "AgencyCode"] = "Illinois"

df1.loc[df1["AgencyCode"] == 17, "AgencyCode"] = "Indiana"
df1.loc[df1["AgencyCode"] == 73, "AgencyCode"] = "Indiana"

df1.loc[df1["AgencyCode"] == 18, "AgencyCode"] = "Iowa"
df1.loc[df1["AgencyCode"] == 74, "AgencyCode"] = "Iowa"

df1.loc[df1["AgencyCode"] == 19, "AgencyCode"] = "Kansas"
df1.loc[df1["AgencyCode"] == 75, "AgencyCode"] = "Kansas"

df1.loc[df1["AgencyCode"] == 20, "AgencyCode"] = "Kentucky"
df1.loc[df1["AgencyCode"] == 76, "AgencyCode"] = "Kentucky"

df1.loc[df1["AgencyCode"] == 21, "AgencyCode"] = "Louisiana"
df1.loc[df1["AgencyCode"] == 77, "AgencyCode"] = "Louisiana"

df1.loc[df1["AgencyCode"] == 22, "AgencyCode"] = "Maine"
df1.loc[df1["AgencyCode"] == 78, "AgencyCode"] = "Maine"

df1.loc[df1["AgencyCode"] == 23, "AgencyCode"] = "Maryland"
df1.loc[df1["AgencyCode"] == 79, "AgencyCode"] = "Maryland"

df1.loc[df1["AgencyCode"] == 24, "AgencyCode"] = "Massachusetts"
df1.loc[df1["AgencyCode"] == 80, "AgencyCode"] = "Massachusetts"

df1.loc[df1["AgencyCode"] == 25, "AgencyCode"] = "Michigan"
df1.loc[df1["AgencyCode"] == 81, "AgencyCode"] = "Michigan"

df1.loc[df1["AgencyCode"] == 26, "AgencyCode"] = "Minnesota"
df1.loc[df1["AgencyCode"] == 82, "AgencyCode"] = "Minnesota"

df1.loc[df1["AgencyCode"] == 27, "AgencyCode"] = "Mississippi"
df1.loc[df1["AgencyCode"] == 83, "AgencyCode"] = "Mississippi"

df1.loc[df1["AgencyCode"] == 28, "AgencyCode"] = "Missouri"
df1.loc[df1["AgencyCode"] == 84, "AgencyCode"] = "Missouri"

df1.loc[df1["AgencyCode"] == 29, "AgencyCode"] = "Montana"
df1.loc[df1["AgencyCode"] == 85, "AgencyCode"] = "Montana"

df1.loc[df1["AgencyCode"] == 30, "AgencyCode"] = "Nebraska"
df1.loc[df1["AgencyCode"] == 86, "AgencyCode"] = "Nebraska"

df1.loc[df1["AgencyCode"] == 31, "AgencyCode"] = "Nevada"
df1.loc[df1["AgencyCode"] == 87, "AgencyCode"] = "Nevada"

df1.loc[df1["AgencyCode"] == 32, "AgencyCode"] = "New Hampshire"
df1.loc[df1["AgencyCode"] == 88, "AgencyCode"] = "New Hampshire"

df1.loc[df1["AgencyCode"] == 33, "AgencyCode"] = "New Jersey"
df1.loc[df1["AgencyCode"] == 89, "AgencyCode"] = "New Jersey"

df1.loc[df1["AgencyCode"] == 34, "AgencyCode"] = "New Mexico"
df1.loc[df1["AgencyCode"] == 90, "AgencyCode"] = "New Mexico"

df1.loc[df1["AgencyCode"] == 35, "AgencyCode"] = "New York"
df1.loc[df1["AgencyCode"] == 91, "AgencyCode"] = "New York"

df1.loc[df1["AgencyCode"] == 36, "AgencyCode"] = "North Carolina"
df1.loc[df1["AgencyCode"] == 92, "AgencyCode"] = "North Carolina"

df1.loc[df1["AgencyCode"] == 37, "AgencyCode"] = "North Dakota"
df1.loc[df1["AgencyCode"] == 93, "AgencyCode"] = "North Dakota"

df1.loc[df1["AgencyCode"] == 38, "AgencyCode"] = "Northern Marianas"
df1.loc[df1["AgencyCode"] == 94, "AgencyCode"] = "Northern Marianas"

df1.loc[df1["AgencyCode"] == 39, "AgencyCode"] = "Ohio"
df1.loc[df1["AgencyCode"] == 95, "AgencyCode"] = "Ohio"

df1.loc[df1["AgencyCode"] == 40, "AgencyCode"] = "Oklahoma"
df1.loc[df1["AgencyCode"] == 96, "AgencyCode"] = "Oklahoma"

df1.loc[df1["AgencyCode"] == 41, "AgencyCode"] = "Oregon"
df1.loc[df1["AgencyCode"] == 97, "AgencyCode"] = "Oregon"

df1.loc[df1["AgencyCode"] == 42, "AgencyCode"] = "Pennsylvania"
df1.loc[df1["AgencyCode"] == 98, "AgencyCode"] = "Pennsylvania"

df1.loc[df1["AgencyCode"] == 43, "AgencyCode"] = "Puerto Rico"
df1.loc[df1["AgencyCode"] == 99, "AgencyCode"] = "Puerto Rico"

df1.loc[df1["AgencyCode"] == 44, "AgencyCode"] = "Rhode Island"
df1.loc[df1["AgencyCode"] == 100, "AgencyCode"] = "Rhode Island"

df1.loc[df1["AgencyCode"] == 45, "AgencyCode"] = "South Carolina"
df1.loc[df1["AgencyCode"] == 101, "AgencyCode"] = "South Carolina"

df1.loc[df1["AgencyCode"] == 46, "AgencyCode"] = "South Dakota"
df1.loc[df1["AgencyCode"] == 102, "AgencyCode"] = "South Dakota"

df1.loc[df1["AgencyCode"] == 47, "AgencyCode"] = "Tennessee"
df1.loc[df1["AgencyCode"] == 103, "AgencyCode"] = "Tennessee"

df1.loc[df1["AgencyCode"] == 48, "AgencyCode"] = "Texas"
df1.loc[df1["AgencyCode"] == 104, "AgencyCode"] = "Texas"

df1.loc[df1["AgencyCode"] == 49, "AgencyCode"] = "Utah"
df1.loc[df1["AgencyCode"] == 105, "AgencyCode"] = "Utah"

df1.loc[df1["AgencyCode"] == 50, "AgencyCode"] = "Vermont"
df1.loc[df1["AgencyCode"] == 106, "AgencyCode"] = "Vermont"

df1.loc[df1["AgencyCode"] == 51, "AgencyCode"] = "Virginia"
df1.loc[df1["AgencyCode"] == 107, "AgencyCode"] = "Virginia"

df1.loc[df1["AgencyCode"] == 52, "AgencyCode"] = "Virgin Islands"
df1.loc[df1["AgencyCode"] == 108, "AgencyCode"] = "Virgin Islands"

df1.loc[df1["AgencyCode"] == 53, "AgencyCode"] = "Washington"
df1.loc[df1["AgencyCode"] == 109, "AgencyCode"] = "Washington"

df1.loc[df1["AgencyCode"] == 54, "AgencyCode"] = "West Virginia"
df1.loc[df1["AgencyCode"] == 110, "AgencyCode"] = "West Virginia"

df1.loc[df1["AgencyCode"] == 55, "AgencyCode"] = "Wisconsin"
df1.loc[df1["AgencyCode"] == 111, "AgencyCode"] = "Wisconsin"

df1.loc[df1["AgencyCode"] == 56, "AgencyCode"] = "Wyoming"
df1.loc[df1["AgencyCode"] == 112, "AgencyCode"] = "Wyoming"

In [82]:
df1['AgencyCode'].value_counts()

New York                30869
Texas                   26622
California              26194
Pennsylvania            20838
Florida                 20173
North Carolina          16619
Ohio                    16112
Michigan                14428
Illinois                12461
Missouri                11328
Wisconsin               11038
South Carolina          10976
Kentucky                 9918
Minnesota                9913
Georgia                  9282
Alabama                  8121
New Jersey               7970
Virginia                 7787
Massachusetts            7472
Oregon                   6501
Washington               6226
Arizona                  6074
Mississippi              5870
Maryland                 5817
Utah                     5582
Colorado                 5378
Arkansas                 5359
Tennessee                5217
Indiana                  5112
Iowa                     4959
Puerto Rico              4535
Oklahoma                 4525
Louisiana                4046
Kansas                   3900
Idaho                    3388
West Virginia            2877
Maine                    2735
New Mexico               2649
Delaware                 2269
Connecticut              2260
Vermont                  2176
Nebraska                 2039
Nevada                   1967
South Dakota             1856
District of Columbia     1618
Montana                  1611
North Dakota             1512
Wyoming                  1308
New Hampshire            1297
Rhode Island              912
Alaska                    904
Hawaii                    380
Guam                      163
Virgin Islands            111
Northern Marianas          59
Name: AgencyCode, dtype: int64

In [83]:
df1.to_csv('final_data.csv')